.header {
  position: absolute;
  padding: 16px 24px 8px;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  display: flex; /* ← 追加 */
  align-items: center; /* ← 追加 */
  justify-content: space-between; /* ← 左右に配置 */
}

.logoLink {
  display: flex;
}

.logo {
  height: 24px;
  width: auto;
}

@media (max-width: 640px) {
  .header {
    padding: 24px 16px 8px;
  }
}
